:root {
    --primary-color: #e50914;
    --dark-color: #706f6f14;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
    background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    /* background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover; */
}


.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* box-shadow: inset 0px 100px 250px #000000, inset -120px -100px 250px #000000; */
}

.showcase-top {
    position: relative;
    height: 90px;
    z-index: 2;
}


.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}



.showcase-top img {
    width: 170px;
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translate(-50%, -50%);
}


.login-content {
    position: relative;
    z-index: 2;
    width: 450px;
    height: 500px;
    background: rgb(0, 0, 0, 0.65);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 60px 65px;

}

#signinForm {
    margin-top: 30px;
    width: 70%;
    position: relative;
    height: 100%;
}


.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}

.btn:hover {
    opacity: 0.9;
}

.btn .btn-rounded {
    border-radius: 5px;
}


.login-form {
    margin-bottom: 20px;
}

.login-content h2 {
    color: #fff;
    align-items: center;
    padding-bottom: 50px;
    padding-left: 110px;
}

.login-form {
    align-items: center;
}

.login-form input {
    width: 100%;
    padding: 15px;
    padding-left: 120px;
    background-color: #222;
    border: none;
    color: #fff;
}

input:focus {
    /* border: none; */
    outline: none;
    color: #fff;
    border: 1.2px solid rgba(179, 179, 179, 0.811);

}

button {
    width: 100%;
    padding: 15px;
    background-color: #e50914;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f6121d;
    opacity: 1;
}